@font-face {
  font-family: 'Garamond EB';
  src: url('fonts/EB_Garamond/static/EBGaramond-Regular.ttf') format('truetype');
}

body {
  background-color: #dce1e3;
  font-family: Candara
}
ul {
  list-style-type:disc
}
h2 {  
  font-family: "Garamond EB";
  display:inline-block;
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}