body {
  background-color: #e9ebec;
  font-family: "Candara"
}
ul.ba {
  list-style-type: none;
}
ul.sec {
  list-style-type: none;
  font-family:"Courier New"
}
h2 {  
  font-family: "Garamond";
  border-bottom: maroon solid 2px;
  display: inline-block;
}
h3 {  
  font-family: "Garamond";
  font-size:larger;
  border-bottom: maroon solid 2px;
  width:20%;
  padding-top: 0;
  margin-top: 0px;
  margin-left: 2em;
  margin-bottom: 0px;
}
a.album {
  color: black;
}